<ion-view view-title="Empleados">
  <ion-content class="azul">
    <div class="button-bar">
  <a class="button verde    ico button-ico-left" ng-show="true" href="#/app/registrarempleado">
    Nuevo Empleado
    <i class="ico ion-person-add"></i>
  </a>
    <button class="button azul  ico button-ico-left" ng-show="true" ng-click="actualizar()">
   Actualizar
    <i class="ico ion-ios-loop-strong"></i>
  </button>
  </div>
   <div class="item item-icon-left  "  href="#">
    <i class="icon ion-search"></i>
      <label class="item item-input">
    <input type="text" placeholder="buscar" ng-model="buscar">
  </label>
  </div>

   <ion-list >
  
    <ion-item class="azul " ng-repeat="d in empleados| filter :buscar  "  ng-show="!d.m">
 
     <div class="text-center">
    <img src="img/user.png" width="100" height="100" class="">
    </div>
    <br>
    <h2 class=" ">{{d.Name}}</h2>
    <h2 class="">1065634974</h2>
  



<div class="button-bar">
  <a class="button button icon verde ion-document-text"></a>
  <a class="button button-calm amarillo button-image " ng-show="admin">
    <img src="img/bolsa.png" alt="" width="50" height="50" >
  </a>
  <a class="button azul icon ion-edit" ng-show="admin"> </a>
   <a class="button button rojo ion-close-round" ng-show="admin"> </a>
</div>

    </ion-item>

  </ion-list>
  </ion-content>
</ion-view>
