<ion-view view-title="Prestamos">
  <ion-content class="azul">
   <div class="button-bar">

    <button class="button button azul  ico button-ico-left" ng-click="actualizar()">
   Actualizar
    <i class="ico ion-ios-loop-strong"></i>
  </button>
  </div>
   <div class="item item-icon-left item menul"  href="#">
    <i class="icon ion-search"></i>
      <label class="item item-input">
    <input type="text" placeholder="buscar" ng-model="buscar">
  </label>
  </div>
<ion-list >
  
    <ion-item class="azul    " ng-repeat="d in prestamos| filter :buscar  "  ng-show="!d.m">
 
     <div class="text-center">
    <img src="img/prestamos.png" width="70" height="70" class="">
    </div>
    <br>
    <h2 class=""> ID_Prestamo : {{d.Name}}</h2>
    <h2 class=""> Clientes : {{d.Name}}</h2>
      <h2 class="">Cantidad inicial : 12.000</h2>
       <h2 class="">Debito : 12.000</h2>
   
     <br>  
  
<div class="button-bar">
  <a class="button verde icon ion-document-text"></a>
  <a class="button amarillo icon ion-cash" ng-show="admin"></a>
  <a class="button azul icon ion-edit" ng-show="admin"></a>
  <a class="button rojo ion-close-round" ng-show="admin"> </a>
</div>

    </ion-item>

  </ion-list>

  </ion-content>
</ion-view>
