<ion-view view-title="Registro Cliente">
  <ion-content>
  <form action="">
 <div class="list">
   <label class="item item-input ">
    <span class="input-label">Cedula</span>
    <input type="number" placeholder="40875565" required="">
  </label>
  <label class="item item-input ">
    <span class="input-label">Nombres</span>
    <input type="text" placeholder="John" required="">
  </label>
  <label class="item item-input ">
    <span class="input-label">Apellidos</span>
    <input type="text" placeholder="smith" required="">
  </label>
  <label class="item item-input ">
    <span class="input-label">Correo</span>
    <input type="email" placeholder="john@hotmai.com" required="">
  </label>
    <label class="item item-input ">
    <span class="input-label">Celular</span>
    <input type="number" placeholder="300876798" required="">
  </label>
    <label class="item item-input ">
    <span class="input-label">Direcion</span>
    <input type="text" placeholder="cr 14 #12-27" required="">
  </label>
    <label class="item item-input ">
    <span class="input-label">Barrio</span>
    <input type="text" placeholder="Garupal" required="">
  </label>
    <label class="item item-input ">
    <span class="input-label">Zona</span>
    <input type="text" placeholder="Centro" >
  </label>
    <label class="item item-input ">
    <span class="input-label">Usuario</span>
    <input type="text" placeholder="Centro" >
  </label>
    <label class="item item-input ">
    <span class="input-label">Contraseña</span>
    <input type="text" placeholder="Centro" >
  </label>
  <button class="button verde button-block " type="submit">Registrar</button>

</div>
</form>
   </ion-content>
</ion-view>

